/src/main/main.iml
/src/test/test.iml
/.gradle/4.8.1/fileContent/annotation-processors.bin
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/4.8.1/fileContent/fileContent.lock
/.gradle/4.8.1/fileHashes/fileHashes.bin
/.gradle/4.8.1/fileHashes/fileHashes.lock
/.gradle/vcsWorkingDirs/gc.properties
/.gradle/4.8.1/fileChanges/last-build.bin
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/4.8.1/fileHashes/resourceHashesCache.bin
/.gradle/4.8.1/taskHistory/taskHistory.bin
/.gradle/4.8.1/taskHistory/taskHistory.lock
